schematics/deal-hygiene-machine/n8n/workflow.json
{
  "name": "deal-hygiene-machine-v2",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "timezone": "America/Los_Angeles"
  },
  "meta": {
    "machine_id": "deal-hygiene-machine",
    "schema_version": "gtm_event_v1",
    "idempotency_key": "event_id",
    "n8n_notes": {
      "error_workflow": "Attach a dedicated Error Trigger workflow in Workflow Settings",
      "queue_mode_ready": true
    }
  },
  "nodes": [
    {
      "id": "Webhook_Ingest",
      "name": "Webhook Ingest",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 280],
      "parameters": {
        "httpMethod": "POST",
        "path": "deal-hygiene-machine",
        "responseMode": "onReceived"
      }
    },
    {
      "id": "Normalize_Validate",
      "name": "Normalize + Validate gtm_event_v1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 280],
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const e = $json;\nconst required = ['event_id', 'event_type', 'source', 'occurred_at', 'trace', 'subject'];\nfor (const key of required) { if (!e[key]) throw new Error(`Missing ${key}`); }\nif (!e.trace?.trace_id) throw new Error('Missing trace.trace_id');\nif (!e.subject?.entity_id) throw new Error('Missing subject.entity_id');\nconst allowed = ['deal.updated', 'call.completed', 'account.health_changed'];\nif (!allowed.includes(e.event_type)) throw new Error(`Unsupported event_type ${e.event_type}`);\nreturn {\n  ...e,\n  schema_version: 'gtm_event_v1',\n  ingested_at: e.ingested_at || new Date().toISOString(),\n  trace: {\n    ...e.trace,\n    run_id: e.trace?.run_id || `${e.event_id}:${Date.now()}`\n  }\n};"
      }
    },
    {
      "id": "Idempotency_Check",
      "name": "Idempotency Lookup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [760, 280],
      "parameters": {
        "method": "POST",
        "url": "https://idempotency.internal/v1/lookup",
        "sendBody": true,
        "jsonBody": "={{ { machine_id: 'deal-hygiene-machine', event_id: $json.event_id, event_type: $json.event_type } }}"
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "Skip_Duplicate",
      "name": "Duplicate Already Terminal?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1020, 280],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.status || ''}}",
              "operation": "notEmpty"
            }
          ]
        }
      }
    },
    {
      "id": "Enrich_Account_Health",
      "name": "enrich_account_health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1280, 160],
      "parameters": {
        "method": "POST",
        "url": "https://cogs.internal/enrich_account_health/v1/execute",
        "sendBody": true,
        "jsonBody": "={{$json}}"
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "Deal_Score_Reasoner",
      "name": "deal_score_reasoner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1540, 160],
      "parameters": {
        "method": "POST",
        "url": "https://cogs.internal/deal_score_reasoner/v1/execute",
        "sendBody": true,
        "jsonBody": "={{$json}}"
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 15000
    },
    {
      "id": "Directive_Alignment",
      "name": "directive_alignment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1800, 160],
      "parameters": {
        "method": "POST",
        "url": "https://cogs.internal/directive_alignment/v1/execute",
        "sendBody": true,
        "jsonBody": "={{$json}}"
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "id": "Route_Exec_Alert",
      "name": "route_exec_alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2060, 160],
      "parameters": {
        "method": "POST",
        "url": "https://cogs.internal/route_exec_alert/v1/execute",
        "sendBody": true,
        "jsonBody": "={{$json}}"
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "id": "Approval_Loop",
      "name": "approval_loop",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2320, 160],
      "parameters": {
        "method": "POST",
        "url": "https://approvals.internal/v1/request",
        "sendBody": true,
        "jsonBody": "={{ { ...$json, timeout_seconds: 1800 } }}"
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 10000
    },
    {
      "id": "Approval_Decision",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2580, 160],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.attributes.approval_status || $json.approval_status || ''}}",
              "operation": "equal",
              "value2": "approved"
            }
          ]
        }
      }
    },
    {
      "id": "SFDC_Writeback",
      "name": "Salesforce Writeback",
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 2,
      "position": [2840, 80],
      "parameters": {
        "operation": "update",
        "sobject": "Opportunity",
        "id": "={{$json.subject.opportunity_id || $json.subject.entity_id}}",
        "fields": {
          "CloseDate": "={{$json.attributes.proposed_mutations?.close_date}}",
          "NextStep": "={{$json.attributes.proposed_mutations?.next_step}}"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 15000
    },
    {
      "id": "Emit_Remediated_Event",
      "name": "Emit deal.hygiene.remediated",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [3100, 80],
      "parameters": {
        "method": "POST",
        "url": "https://events.internal/v1/publish",
        "sendBody": true,
        "jsonBody": "={{ { ...$json, event_type: 'deal.hygiene.remediated' } }}"
      }
    },
    {
      "id": "Emit_Deferred_Event",
      "name": "Emit deal.hygiene.deferred",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2840, 240],
      "parameters": {
        "method": "POST",
        "url": "https://events.internal/v1/publish",
        "sendBody": true,
        "jsonBody": "={{ { ...$json, event_type: 'deal.hygiene.deferred' } }}"
      }
    }
  ],
  "connections": {
    "Webhook Ingest": {
      "main": [
        [
          {
            "node": "Normalize + Validate gtm_event_v1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize + Validate gtm_event_v1": {
      "main": [
        [
          {
            "node": "Idempotency Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Idempotency Lookup": {
      "main": [
        [
          {
            "node": "Duplicate Already Terminal?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Duplicate Already Terminal?": {
      "main": [
        [
          {
            "node": "Emit deal.hygiene.deferred",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "enrich_account_health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enrich_account_health": {
      "main": [
        [
          {
            "node": "deal_score_reasoner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deal_score_reasoner": {
      "main": [
        [
          {
            "node": "directive_alignment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "directive_alignment": {
      "main": [
        [
          {
            "node": "route_exec_alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "route_exec_alert": {
      "main": [
        [
          {
            "node": "approval_loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "approval_loop": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "Salesforce Writeback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Emit deal.hygiene.deferred",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salesforce Writeback": {
      "main": [
        [
          {
            "node": "Emit deal.hygiene.remediated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
