schematics/nrr-machine/n8n/workflow.json
{
  "name": "nrr-machine-low-touch-no-touch-v2",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "timezone": "America/Los_Angeles"
  },
  "meta": {
    "machine_id": "nrr-machine",
    "schema_version": "gtm_event_v1",
    "idempotency_key": "event_id",
    "n8n_notes": {
      "batch_refresh_enabled": true,
      "queue_mode_ready": true,
      "error_workflow": "Attach Error Trigger workflow in Workflow Settings"
    }
  },
  "nodes": [
    {
      "id": "1",
      "name": "Webhook Ingest",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [120, 280],
      "parameters": {
        "httpMethod": "POST",
        "path": "nrr/events",
        "responseMode": "onReceived"
      }
    },
    {
      "id": "2",
      "name": "Schedule Refresh Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [120, 520],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      }
    },
    {
      "id": "3",
      "name": "Build Scheduled gtm_event_v1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [360, 520],
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const now = new Date().toISOString();\nreturn {\n  event_id: `nrr-refresh-${Date.now()}`,\n  event_type: 'account.health_changed',\n  source: 'nrr_scheduler',\n  occurred_at: now,\n  ingested_at: now,\n  trace: { trace_id: `trace_nrr_refresh_${Date.now()}` },\n  subject: { entity_type: 'account', entity_id: 'batch_cohort' },\n  attributes: { refresh_mode: 'scheduled' }\n};"
      }
    },
    {
      "id": "4",
      "name": "Normalize + Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [360, 280],
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const e = $json;\nconst required = ['event_id', 'event_type', 'source', 'occurred_at', 'trace', 'subject'];\nfor (const key of required) { if (!e[key]) throw new Error(`Missing ${key}`); }\nif (!e.trace?.trace_id) throw new Error('Missing trace.trace_id');\nif (!e.subject?.entity_id) throw new Error('Missing subject.entity_id');\nconst supported = ['account.health_changed', 'usage.declined', 'renewal.window_opened'];\nif (!supported.includes(e.event_type)) throw new Error(`Unsupported event_type ${e.event_type}`);\nreturn {\n  ...e,\n  machine_id: 'nrr-machine',\n  schema_version: 'gtm_event_v1',\n  ingested_at: e.ingested_at || new Date().toISOString(),\n  trace: { ...e.trace, run_id: e.trace?.run_id || `${e.event_id}:${Date.now()}` }\n};"
      }
    },
    {
      "id": "5",
      "name": "Idempotency Lookup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [600, 280],
      "parameters": {
        "method": "POST",
        "url": "https://idempotency.internal/v1/lookup",
        "sendBody": true,
        "jsonBody": "={{ { machine_id: 'nrr-machine', event_id: $json.event_id, event_type: $json.event_type } }}"
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    },
    {
      "id": "6",
      "name": "Already Terminal?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [840, 280],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.status || ''}}",
              "operation": "notEmpty"
            }
          ]
        }
      }
    },
    {
      "id": "7",
      "name": "Emit nrr.play.skipped_duplicate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1080, 460],
      "parameters": {
        "method": "POST",
        "url": "https://events.internal/v1/publish",
        "sendBody": true,
        "jsonBody": "={{ { ...$json, event_type: 'nrr.play.skipped_duplicate' } }}"
      }
    },
    {
      "id": "8",
      "name": "enrich_account_health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1080, 180],
      "parameters": {
        "method": "POST",
        "url": "https://cogs.internal/enrich_account_health/v1/execute",
        "sendBody": true,
        "jsonBody": "={{$json}}"
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "id": "9",
      "name": "Segment Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1320, 180],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.segment || ''}}",
              "operation": "in",
              "value2": "low_touch,no_touch"
            }
          ]
        }
      }
    },
    {
      "id": "10",
      "name": "deal_score_reasoner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1560, 100],
      "parameters": {
        "method": "POST",
        "url": "https://cogs.internal/deal_score_reasoner/v1/execute",
        "sendBody": true,
        "jsonBody": "={{$json}}"
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 15000
    },
    {
      "id": "11",
      "name": "directive_alignment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1800, 100],
      "parameters": {
        "method": "POST",
        "url": "https://cogs.internal/directive_alignment/v1/execute",
        "sendBody": true,
        "jsonBody": "={{$json}}"
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "id": "12",
      "name": "compose_outreach_message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2040, 100],
      "parameters": {
        "method": "POST",
        "url": "https://cogs.internal/compose_outreach_message/v1/execute",
        "sendBody": true,
        "jsonBody": "={{$json}}"
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "id": "13",
      "name": "route_exec_alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2280, 100],
      "parameters": {
        "method": "POST",
        "url": "https://cogs.internal/route_exec_alert/v1/execute",
        "sendBody": true,
        "jsonBody": "={{$json}}"
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "id": "14",
      "name": "approval_loop",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2520, 100],
      "parameters": {
        "method": "POST",
        "url": "https://approval.internal/request",
        "sendBody": true,
        "jsonBody": "={{ { ...$json, timeout_seconds: 1800, actions: ['outbound_email_send', 'renewal_plan_update'] } }}"
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 10000
    },
    {
      "id": "15",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2760, 100],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.approval_status || $json.attributes?.approval_status || ''}}",
              "operation": "equal",
              "value2": "approved"
            }
          ]
        }
      }
    },
    {
      "id": "16",
      "name": "Send Outbound",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [3000, 20],
      "parameters": {
        "method": "POST",
        "url": "https://outbound.internal/send",
        "sendBody": true,
        "jsonBody": "={{ { account_id: $json.subject.entity_id, play: $json.play, event_id: $json.event_id, idempotency_key: $json.event_id } }}"
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 15000
    },
    {
      "id": "17",
      "name": "Renewal Plan Update",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [3000, 180],
      "parameters": {
        "method": "POST",
        "url": "https://sfdc360.internal/update",
        "sendBody": true,
        "jsonBody": "={{ { account_id: $json.subject.entity_id, score: $json.score, play: $json.play, idempotency_key: $json.event_id } }}"
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 15000
    },
    {
      "id": "18",
      "name": "Emit nrr.play.executed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [3240, 100],
      "parameters": {
        "method": "POST",
        "url": "https://events.internal/v1/publish",
        "sendBody": true,
        "jsonBody": "={{ { ...$json, event_type: 'nrr.play.executed' } }}"
      }
    },
    {
      "id": "19",
      "name": "Emit nrr.play.blocked",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [3000, 320],
      "parameters": {
        "method": "POST",
        "url": "https://events.internal/v1/publish",
        "sendBody": true,
        "jsonBody": "={{ { ...$json, event_type: 'nrr.play.blocked', approval_status: $json.approval_status || 'rejected_or_timeout' } }}"
      }
    }
  ],
  "connections": {
    "Webhook Ingest": {
      "main": [
        [
          {
            "node": "Normalize + Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Refresh Trigger": {
      "main": [
        [
          {
            "node": "Build Scheduled gtm_event_v1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Scheduled gtm_event_v1": {
      "main": [
        [
          {
            "node": "Normalize + Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize + Validate": {
      "main": [
        [
          {
            "node": "Idempotency Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Idempotency Lookup": {
      "main": [
        [
          {
            "node": "Already Terminal?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Already Terminal?": {
      "main": [
        [
          {
            "node": "Emit nrr.play.skipped_duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "enrich_account_health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enrich_account_health": {
      "main": [
        [
          {
            "node": "Segment Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Segment Gate": {
      "main": [
        [
          {
            "node": "deal_score_reasoner",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Emit nrr.play.blocked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deal_score_reasoner": {
      "main": [
        [
          {
            "node": "directive_alignment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "directive_alignment": {
      "main": [
        [
          {
            "node": "compose_outreach_message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "compose_outreach_message": {
      "main": [
        [
          {
            "node": "route_exec_alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "route_exec_alert": {
      "main": [
        [
          {
            "node": "approval_loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "approval_loop": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "Send Outbound",
            "type": "main",
            "index": 0
          },
          {
            "node": "Renewal Plan Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Emit nrr.play.blocked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Outbound": {
      "main": [
        [
          {
            "node": "Emit nrr.play.executed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Renewal Plan Update": {
      "main": [
        [
          {
            "node": "Emit nrr.play.executed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
